export PS1="\[\e[32m\]\u@\h:\[\e[34m\]\w\[\e[0m\]\$ "
export HISTFILE="/tmp/.ash_history"
export HISTSIZE=1000
export HISTCONTROL="ignoredups"

alias ll="ls --color=auto -h -la"
sudo su 
alias ll="ls --color=auto -h -la"
alias ..='cd ..'
alias home='cd /data/support'
alias conf='cd /data/conf'
alias data='cd /data'
